@use "./base/normalize";
@use "./base/fonts";
@use "./base/general";
@use "./layouts/alllayout";
@use "./components/allcomponents";
@use "./pages/home";
@use "./pages/about";
@use "./themes/light";
@use "./themes/dark";

